body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
  }

h1, p {
    margin: 0;
}

p {
    color: #191919;
    font-size: 17px;
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

ul {
    display: flex;
    gap: 20px;
    list-style-type: none;
  }

a {
    color: #333333;
    font-size: 18px;
    text-decoration: none;
    transition-duration: 0.2s;
}

a:hover{
    color: black;
}

.intro {
    display: flex;
    justify-content: center;
    gap: 60px;
}

.intro-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    max-width: 500px;
    text-align: left;
}

.intro-text h1 {
    font-size: 48px;
    font-weight: bolder;
}

button {
    width: 100px;
    height: 30px;
    background: none;
    color: black;
    border: 2px solid black;
    border-radius: 8px;
    font-size: 14px;
    font-weight: bold;
    transition-duration: 0.4s;
}

button:hover {
    background: #28282B;
    color: white;
}

.intro img {
    max-width: 550px;
    height: auto;
}

.head {
    display: flex;
    flex-direction: column;
    gap: 90px;
    padding-left: 60px;
    padding-right: 60px;
    padding-bottom: 60px;
    background-color: #F1DFD3;
}

.row {
    display: flex;
    justify-content: center;
    gap: 60px;
}

.row img, .row p {
    max-width: 250px;
}

.row img{
    border-radius: 8px;
    margin-bottom: 8px;
}

.content {
    display: flex;
    flex-direction: column;
    padding: 60px 0;
    gap: 60px;
}

.content h1{
    font-size: 36px;
    font-weight: bolder;
}

.quote {
    display: flex;
    flex-direction: column;
    padding: 60px;
    gap: 30px;
    background-color: #e5e7eb;
}

.quote p {
    max-width: 1000px;
    margin: 0 auto;
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
}

.quote b{
    font-size: 24px;
}

.join {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
}

.join-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.join-container {
    display: flex;
    justify-content: center;
    width: 1200px;
    gap: 90px;
    padding: 60px;
    margin: 90px auto;
    background-color:#d2f0f9;
}

.join-container button{
    align-self: flex-end;
}

.footer {
    padding: 16px;
    background-color: #06212a;
}

.footer p{
    color: white;
}